# Python
__pycache__/
*.py[cod]
*$py.class


__pycache__


# Virtual environments
venv/
env/
.venv/

# Environment variables
.env
.env.*

# Build
build/
dist/
*.egg-info/

# Logs
*.log

# Testing
.coverage
htmlcov/
.pytest_cache/

# IDEs
.vscode/
.idea/

.venv

# OS
.DS_Store
Thumbs.db

# Type checkers
.mypy_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/